<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Table</title>
  <style>
    table {
      width: 40%;
      background: white;
      color: rgba(20, 10, 70, 2);
      border-spacing: 1px;
    }
    td, th {
      background: rgba(20, 200, 10, 0.45);
      padding: 5px;
    }
    h1 {
      color: rgba(8, 20, 59, 1);
    }
  </style>
</head>
<body>
<br>
<h1>Таблца пользователей</h1>
<table border="1">
  <tr>
    <th>№</th>
    <th>Логин</th>
    <th>Пароль</th>
    <th>Обновление</th>
    <th>Удаление</th>

  </tr>
  <tbody>
  <tr th:each="user : ${user}">

    <td th:utext="${user.getId()}"></td>
    <td th:utext="${user.getUsername()}"></td>
    <td th:utext="${user.getPassword()}"></td>
    <td>
      <form  th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <button type="submit">Обновить</button>
      </form>
    </td>
    <td>
      <form  th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<button><a href="/admin/add">Создать нового пользователя!</a></button>
<br>
</form:form>
<button><a href="/">Главная</a></button>
<br/>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Выйти</button>
</body>
</html>