<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<div>
  <form th:method="POST" th:action="@{registration}" th:object="${user}">
    <h2>Регистрация</h2>
    <fieldset>
      <div>
        <label for="username">Логин</label>
        <input type="text" th:field="${user.username}" id="username">
        <br/>
      </div>
      <div>
        <label for="password">Пароль</label>
        <input type="text" th:field="${user.password}" id="password">
        <br/>
    </fieldset>
    <button type="submit">Зарегистрироваться</button>
    </form>
    <button><a href="/">Главная</a></button>
  </div>
<br/>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Выйти</button>
</body>
</html>